*, ::after, ::before {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.App__container {
  width: 1170px;
  max-width: 100%;
  padding: 0 15px 50px;
  margin-right: auto;
  margin-left: auto;
}
