label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.Form__group {
  margin-bottom: 15px;
}

.Form__control {
  display: block;
  width: 100%;
  height: 20px;
  padding: 5px 10px;
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
}

textarea.Form__control {
  height: auto;
}

body {
  font-size: 16px;
}

.App__container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.App__header {
  background-color: #222;
  padding: 20px;
  -webkit-box-shadow: 0 2px 0.5rem rgba(90, 90, 90, 0.3);
          box-shadow: 0 2px 0.5rem rgba(90, 90, 90, 0.3);
  color: #ffffff;
}

.App__panel {
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 0.5rem rgba(90, 90, 90, 0.3);
          box-shadow: 0 2px 0.5rem rgba(90, 90, 90, 0.3);
  padding: 15px;
  margin-bottom: 20px;
}

.Text--error {
  color: #da4343;
}

.Text--success {
  color: #74be4c;
}

